.body{
    
}

.navbar{
    background-color: cadetblue;
}

.navbar{
    background-color:cadetblue;
}

.margin{
    padding-bottom: 10px;
    padding-top: 25px;
    
}

.Modelo-3
{
    background-color: darkgrey; 
}

.Modelo-Y
{
    background-color: darkgrey ;
}

.Modelo-X
{
    background-color: darkgrey ;
}

.Modelo-S
{
    background-color: darkgrey ;
}

.Solar-Roof
{
    background-color: darkgrey ;
}

.Solar-Panels
{
    background-color: darkgrey ;
}

.h1{
    text-align: center;
}

.bg-footer{
    background-color: black;
    color: white;
}
